<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5>Recipe by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>  
  <div class="col-md-8">
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, size: "250x150", class: "gravatar") if @recipe.picture? %>
    </div>
    <div class="well">
      <p>Style: <%= render @recipe.styles %></p>
      <p>Ingredients: <%= render @recipe.ingredients %></p>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <%= render 'thumbs', obj: @recipe%>
    </div>
  </div>
</div>
<div class="row">
<% if logged_in? %>
<h5><% if @recipe.chef == current_user %>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "btn btn-success btn-small" %>
    <% end %>
    <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-success btn-small" %>
<% end %>    
    <%= link_to 'Recipes Listing', recipes_path, class: "btn btn-warning btn-small" %>
    <%= link_to 'Chef Listing', chefs_path, class: "btn btn-warning btn-small" %>
</h5>
    