<%= render 'shared/page_title', title: "Create New Ingredient" %>

<%= render 'shared/errors', obj: @ingredient %>

<div class="row">
  <div class="well cold-md-8 col-md-offset-2">
    <%= form_for @ingredient do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.submit('Create Ingredient', class: "btn btn-success") %>
    <% end %>
  </div>
</div>